@media (max-width: 600px) {
  body {
    overflow-x: hidden;
    overflow-y: visible;
  }
  header {
    padding: 20px 30px 0 30px;
  }
  header nav {
    display: none;
  }
  .hero {
    margin: 30px 0;
    flex-direction: column;
  }
  .main-container {
    padding: 0 30px;
  }
  .hero-picture {
    width: 100%;
    order: -1;
  }
  .container {
    /* margin-top: 50px; */
    padding: 50px 20px 30px 20px;
  }
  .circles {
    display: none;
  }
  .hero-description h1 {
    font-weight: 700;
    font-size: 20px;
  }

  .hero-description p {
    font-size: 16px;
  }
  .customer-button,
  .seller-button {
    width: 120px;
    font-size: 14px;
    display: flex;
    padding: 10px;
  }
  .products-actions {
    flex-direction: column;
  }
  .products-actions .input-search {
    width: 100%;
  }
  .products-actions .add-product {
    width: 50%;
    font-size: 12px;
  }
  .products {
    display: flex;
    flex-direction: column;
  }
  .product-div {
    width: 280px;
    margin: auto;
  }
  .add-product-form {
    padding: 30px 30px 0 30px;
    z-index: 5000;
  }
  .add-product-form .form {
    width: 100%;
  }
  .filter{
    width: 100%;
  }
}
