/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 150px;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo img {
  width: 100%;
}
header nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  align-self: center;
  z-index: 2;
}
header nav a {
  color: black;
  line-height: 29px;
  display: flex;
  text-decoration: none;
  padding: 12px;
  font-size: 18px;
}
header nav a:hover {
  border-bottom: 2px solid black;
}
header a{
  z-index: 1000;
}
header svg {
  width: 30px;
  cursor: pointer;
}