/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 28px;
  /* background-color: yellowgreen; */
}

header .logo {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

header .logo span {
  font-weight: 900;
  font-size: 24px;
}

header nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  align-self: center;
  z-index: 2;
}

header nav a {
  color: black;
  line-height: 29px;
  display: flex;
  text-decoration: none;
  padding: 12px;
}

header nav a:hover {
  border-bottom: 3px solid black;
}
